@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --darker-cyan: #003135;
  --dark-cyan: #024950;
  --cyan: #0fa4af;
  --sky: #afdde5;
  --brown: #964734;
}

body{
  background: url(../public/backgrounds/background-1.jpg);
  font-family: 'Courier New', Courier, monospace;
}

.infoField{
 background: var(--cyan);
color: black;
  font-weight: bold;
}

#app {
  max-width: 1280px;
  margin: 0;
  padding: 1rem;
  font-weight: normal;
}

#buttonPanel img{
  background: white;
  transition: 0.4s;
}
